@import "colors";
@import "../staff/colors";
@import "../staff/dimensions";

div#wrapper {
  div#container {
    h1 {
      margin: 0px;
      padding: $moderate * 1.5 $moderate;
      font-size: $large;
      font-weight: normal;
      background-color: $very_dark_magenda;
      color: $light_gray;
    }
  }
}
